@import url('https://fonts.googleapis.com/css2?family=Lato:wght@100;300;400;700&display=swap');

a {
  text-decoration: none;
}

li {
  list-style-type: none;
}

.App {
  font-family: 'Lato', sans-serif;
}
